body {
  background-color: #DDDDDD;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-color: lightgray;
  border: none;
  border-radius: 0px;
  padding: 5px;
  width: 250px;
}

.container {
  background-color: white;
  border: 1px solid black; 
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  margin: 35px auto;
  width: 400px;
}

.card__select {
  background-color: #EAEAEA;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  margin: 20px;
  padding: 10px 20px;
  width: 90%;
}

.card__player-image {
  padding-left: 15px;
  position: relative;
  left: 1px;
  top: 8px;
}

.card__club-badge {
  background: white;
  border-radius: 50px;
  float:right;
  height: 108px;    
  left: -20px;
  position: relative;
  top: -40px;
  width: 108px;
}

.card__info {
  background-color: #E90053;
  color: #EAEAEA;
  margin: 2px 1px 0px 2px;
  padding: 5px;
}

.info {
  padding: 5px;
  margin: 5px;
}

.card__stats-group {
  background-color: #E90053;
  margin: 0 1px 1px 2px;
  padding: 5px 10px 20px 10px;
}

.stats-group__item {
  background-color: #EAEAEA;
  margin: 0px 5px 4px 5px;
  padding: 8px 16px;
}

.stats-group__item-data {
  font-weight: bold;
  float: right;
}